<template>

</template>

<script>
import axios from 'axios';
import { ref, onMounted } from 'vue';

export default {
    setup() {
        console.log(localStorage.getItem('user_id'));

        const chats = ref([]);

        const obtenerChats = async () => {
            try {
                let response = await axios.get('http://127.0.0.1:8000/api/chats', {
                    params: {
                        user_sent: localStorage.getItem('user_id'),
                        direccion: 'asc',
                        campo: 'id',
                    }
                });
                chats.value = response.data.data;
                console.log(chats.value);
            } catch (error) {
                
            }
        }

        onMounted(() => {
            obtenerChats();
        });
    }    
}
</script>