<script>
import TheWelcome from "../components/TheWelcome.vue";
import useTest from "./useTest";
import { onMounted, ref, watch } from "vue";

import ModalPublicacion from "./ModalPublicacion.vue";
import ModalDetallePublicacion from "./ModalDetallePublicacion.vue";
import { RouterLink } from "vue-router";
import axios from "axios";

export default {
  components: {
    ModalPublicacion,
    ModalDetallePublicacion,
  },

  props: ["user"],
  setup(props) {
    const {
      publicaciones,
      getPublicaciones,
      getPublicacion,
      publicacion,
      search_producto,
    } = useTest();

    onMounted(() => {
      getPublicaciones();
      console.log(publicaciones);
      obtenerPublicacionesVistas();
      console.log("PUBLICACIONES");
    });

    const openModal = ref(false);
    const openModalDetalles = ref(false);

    watch(openModalDetalles.value, () => {
      if (openModalDetalles.value === true) {
        publicacion.value = "";
      }
    });

    const id = ref("");

    watch(id, () => {
      getPublicacion(id.value);
      console.log(publicacion);
    });

    console.log(sessionStorage);

    const publicacionesVistas = ref([]);

    const obtenerPublicacionesVistas = async () => {
      let response = await axios.get(
        "http://127.0.0.1:8000/api/publicacionesvistas",
        {
          params: {
            campo: "id",
            direccion: "asc",
            user_id: localStorage.getItem("user_id"),
          },
        }
      );
      console.log(response.data.data);
      publicacionesVistas.value = response.data.data;
    };

    const guardarPublicacion = async () => {
      let form = new FormData();
      form.append("user_id", localStorage.getItem("user_id"));
      form.append("publicacion_id", id.value);
      await axios.post("http://127.0.0.1:8000/api/publicacionesvistas/", form);
    };

    /* const estado = ref(false);

    const cambiarEstado = async () => {
      estado.value = !estado.value;
      let data = new FormData();
      data.append("estado", estado.value);
      try {
        await axios.post("http://127.0.0.1:8000/api/cambiarEstado", data);
      } catch (error) {
        let errors = error.response.data.errors;
        console.log(errors);
      }
    }; */

    /* const hidden = ref(false); */

    /* const mostrar = () => {
      hidden.value = !hidden.value;
    } */

    return {
      publicacionesVistas,
      guardarPublicacion,
      search_producto,
      /* mostrar, */
      /* estado, */
      /* cambiarEstado, */
      publicacion,
      publicaciones,
      openModalDetalles,
      openModal,
      id,
    };
  },
};
</script>

<template>
  <div class="mx-auto">
    <div class="bg-gray-900 p-2 grid grid-cols-6 gap-8">
      <div class="ml-5 col-span-1 h-10 content-center grid text-center">
        <div class="flex w-full h-full justify-center text-center items-end">
          <svg
            width="10mm"
            height="10mm"
            viewBox="0 0 109.48601 84.608772"
            version="1.1"
            id="svg5"
            inkscape:export-filename="logo.svg"
            inkscape:export-xdpi="96"
            inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <sodipodi:namedview
              id="namedview7"
              pagecolor="#ffffff"
              bordercolor="#000000"
              borderopacity="0.25"
              inkscape:showpageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="0"
              inkscape:deskcolor="#d1d1d1"
              inkscape:document-units="mm"
              showgrid="false"
            />
            <defs id="defs2" />
            <g
              inkscape:label="Capa 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-44.332784,-44.589617)"
            >
              <g
                aria-label="A"
                transform="scale(1.2059265,0.82923793)"
                id="text113"
                style="
                  font-size: 142.304px;
                  fill: #4693c9;
                  fill-opacity: 1;
                  stroke-width: 11.8586;
                "
              >
                <path
                  d="M 114.3181,155.80377 102.07996,124.35459 H 61.807929 l -12.09584,31.44918 H 36.762424 L 76.465241,53.771803 H 87.991865 L 127.55238,155.80377 Z M 98.237753,112.97027 86.853433,82.232604 q -0.426912,-1.138432 -1.42304,-4.126816 -0.996128,-2.988385 -1.992256,-6.119073 -0.853824,-3.272992 -1.42304,-4.98064 -1.138432,4.411424 -2.419168,8.680544 -1.138432,4.126817 -1.992256,6.545985 L 66.077049,112.97027 Z"
                  id="path219"
                  style="fill: #4693c9; fill-opacity: 1"
                />
              </g>
              <path
                id="rect6400"
                style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
                d="m 82.913164,87.853105 32.501776,-0.02569 9.49398,18.109385 -51.1431,-1.47784 z"
                sodipodi:nodetypes="ccccc"
              />
              <rect
                style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
                id="rect7331"
                width="15.584439"
                height="28.123642"
                x="143.83496"
                y="-18.271332"
                transform="rotate(37.654932)"
              />
            </g>
          </svg>
          <div class="text-white ml-1">
            <p class="font-bold text-lg">bbe</p>
          </div>
        </div>
      </div>
      <div
        class="bg-white rounded-lg p-2 col-span-2 col-start-3 h-10 grid content-center text-center"
      >
        <div class="flex">
          <input
            id="crud-form-3"
            v-model="search_producto"
            type="text"
            class="form-control outline-none w-full"
            placeholder="Busqueda"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            width="25px"
            height="25px"
          >
            <path
              d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
            />
          </svg>
        </div>
      </div>
      <div class="col-span-2 grid content-center">
        <!-- <ul class="grid grid-cols-2 gap-4 px-2">
          <li class="bg-blue-400 text-center">Item 1</li>
          <li class="bg-blue-500 text-center">Item 2</li>
        </ul> -->
        <div class="col-start-5 grid grid-cols-3 gap-3 px-2">
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'mispedidos',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  fill="#0099ff"
                  width="30px"
                  height="30px"
                  viewBox="0 0 32 32"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.005 22.825l13.039 6.169v-13.8l-13.039-5.52v13.151zM6.006 14.791l5.026 2.337-0.029 1.842-5.025-2.336 0.028-1.843zM16 15.194v13.8l12.994-6.169v-13.151l-12.994 5.52zM15.453 3.006l-13.363 5.757 13.375 5.712 13.514-5.725-13.526-5.744z"
                  ></path>
                </svg>
              </div>
            </router-link>
          </div>
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'chats',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  width="25px"
                  height="25px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 1C2.34315 1 1 2.34315 1 4V15C1 16.6569 2.34315 18 4 18H6V22C6 22.388 6.22446 22.741 6.57584 22.9056C6.92723 23.0702 7.3421 23.0166 7.64018 22.7682L13.362 18H20C21.6569 18 23 16.6569 23 15V4C23 2.34315 21.6569 1 20 1H4Z"
                    fill="#0099ff"
                  />
                </svg>
              </div>
            </router-link>
          </div>
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'miperfil',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  width="25px"
                  height="25px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 1C8.96243 1 6.5 3.46243 6.5 6.5C6.5 9.53757 8.96243 12 12 12C15.0376 12 17.5 9.53757 17.5 6.5C17.5 3.46243 15.0376 1 12 1Z"
                    fill="#0099ff"
                  />
                  <path
                    d="M7 14C4.23858 14 2 16.2386 2 19V22C2 22.5523 2.44772 23 3 23H21C21.5523 23 22 22.5523 22 22V19C22 16.2386 19.7614 14 17 14H7Z"
                    fill="#0099ff"
                  />
                </svg>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <!-- <div>
      <button @click.prevent="cambiarestado">cambiar estado</button>
      <label
        for=""
        class="ml-5"
        :class="{ 'text-white': !estado, 'text-green-500': estado }"
        >estado</label
      >
    </div> -->

    <div class="grid grid-cols-6 h-screen">
      <div
        class="bg-gray-900 border-x-0 border-gray-500 border-2 w-0 sm:w-full flex flex-col"
      >
        <div class="mt-5 p-2">
          <button
            class="bg-[#4693C9] p-2 w-0 sm:w-full rounded-lg"
            @click.prevent="openModal = true"
          >
            <div class="flex text-gray-200">
              <p class="w-full font-bold">Realizar Publicacion</p>
              <svg
                width="25px"
                height="25px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.0671 2.27157C17.5 2.09228 17.9639 2 18.4324 2C18.9009 2 19.3648 2.09228 19.7977 2.27157C20.2305 2.45086 20.6238 2.71365 20.9551 3.04493C21.2864 3.37621 21.5492 3.7695 21.7285 4.20235C21.9077 4.63519 22 5.09911 22 5.56761C22 6.03611 21.9077 6.50003 21.7285 6.93288C21.5492 7.36572 21.2864 7.75901 20.9551 8.09029L20.4369 8.60845L15.3916 3.56308L15.9097 3.04493C16.241 2.71365 16.6343 2.45086 17.0671 2.27157Z"
                  fill="#ffffff"
                />
                <path
                  d="M13.9774 4.9773L3.6546 15.3001C3.53154 15.4231 3.44273 15.5762 3.39694 15.7441L2.03526 20.7369C1.94084 21.0831 2.03917 21.4534 2.29292 21.7071C2.54667 21.9609 2.91693 22.0592 3.26314 21.9648L8.25597 20.6031C8.42387 20.5573 8.57691 20.4685 8.69996 20.3454L19.0227 10.0227L13.9774 4.9773Z"
                  fill="#ffffff"
                />
              </svg>
            </div>
          </button>
        </div>

        <div class="mt-1 p-2">
          <router-link
            @click.prevent=""
            :to="{
              name: 'pedidos',
            }"
          >
            <div
              class="flex text-gray-200 p-2 bg-[#638196] w-0 sm:w-full rounded-lg"
            >
              <p class="w-full font-bold">Pedidos</p>
              <svg
                fill="#ffffff"
                width="25px"
                height="25px"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M14.12 4 8.62.85a1.28 1.28 0 0 0-1.24 0L1.88 4a1.25 1.25 0 0 0-.63 1.09V11a1.25 1.25 0 0 0 .63 1l5.5 3.11a1.28 1.28 0 0 0 1.24 0l5.5-3.11a1.25 1.25 0 0 0 .63-1V5.05A1.25 1.25 0 0 0 14.12 4zm-6.74 9.71-2.13-1.2v-5.3l2.13 1.16zM8 7.29 5.92 6.15l4.81-2.67 2.09 1.18zm0-5.35 1.46.82-4.84 2.69-1.44-.79zM2.5 5.71l1.5.82v5.27L2.5 11zm6.12 8V8.37l4.88-2.66V11z"
                />
              </svg>
            </div>
          </router-link>
        </div>
        <div class="mt-1 p-2">
          <router-link
            @click.prevent=""
            :to="{
              name: 'comprasrealizadas',
            }"
          >
            <div
              class="flex text-gray-200 p-2 bg-[#638196] w-0 sm:w-full rounded-lg"
            >
              <p class="w-full font-bold">Mis Compras</p>
              <svg
                fill="#ffffff"
                width="24px"
                height="24px"
                viewBox="0 0 52 52"
                data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M38.67,27.35A11.33,11.33,0,1,1,27.35,38.67h0A11.34,11.34,0,0,1,38.67,27.35ZM20.36,37.63a4,4,0,1,1-4,4v0A4,4,0,0,1,20.36,37.63ZM42.8,34.07l-6.06,6.79L34,38.09a.79.79,0,0,0-1.11,0l0,0-1.11,1.07a.7.7,0,0,0-.07,1l.07.08L35.6,44a1.62,1.62,0,0,0,1.14.48A1.47,1.47,0,0,0,37.87,44l7.19-7.87a.83.83,0,0,0,0-1l-1.12-1.05a.79.79,0,0,0-1.11,0ZM8.2,2a2.42,2.42,0,0,1,2.25,1.7h0l.62,2.16H46.36A1.5,1.5,0,0,1,47.9,7.31a1.24,1.24,0,0,1-.06.47h0L43.66,22.43a1.42,1.42,0,0,1-.52.82,16.42,16.42,0,0,0-4.47-.64,16,16,0,0,0-5.47,1H19.36a2.2,2.2,0,0,0-2.22,2.18,2.11,2.11,0,0,0,.13.75h0v.08a2.26,2.26,0,0,0,2.17,1.62h7.1a16,16,0,0,0-2.77,4.61H16a2.32,2.32,0,0,1-2.25-1.7h0L6.5,6.62H4.33A2.37,2.37,0,0,1,2,4.22V4.16A2.46,2.46,0,0,1,4.48,2H8.2Z"
                />
              </svg>
            </div>
          </router-link>
        </div>
      </div>

      <div
        v-if="publicaciones.length > 0"
        class="bg-gray-700 grid col-span-5 content-start text-center"
      >
        <div
          class="flex justify-center pt-4 pb-2"
          v-if="publicacionesVistas.length > 0"
        >
          <h2 class="text-white font-bold text-2xl">Publicaciones Vistas</h2>
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-2 p-2 h-full w-full"
        >
          <div
            v-for="(publiVista, index) in publicacionesVistas"
            :key="index"
            @click.prevent="id = publiVista.publicacion.id"
          >
            <div
              class="grid p-2 bg-gray-800 rounded-md"
              @click.prevent="openModalDetalles = true"
            >
              <img
                :src="
                  'http://127.0.0.1:8000/storage/attachment/' +
                  publiVista.publicacion.path_adjunto
                "
                class="rounded-md aspect-square transition-all w-full object-cover"
                alt=""
              />
              <div
                class="text-left my-2 text-white font-bold overflow-ellipsis overflow-hidden whitespace-nowrap"
              >
                <div class="">
                  <p class="">{{ publiVista.publicacion.titulo }}</p>
                </div>
                <div>
                  <p class="">{{ publiVista.publicacion.precio }}</p>
                </div>
                <div>
                  <p class="font-thin text-sm my-2">Villarrica - Paraguay</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="flex justify-center pt-4 pb-2"
        >
          <h2 class="text-white font-bold text-2xl">Publicaciones</h2>
        </div>

        <div
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-2 p-2 h-full w-full"
        >
          <div
            v-for="publi in publicaciones"
            :key="publi.id"
            @click.prevent="
              id = publi.id;
              guardarPublicacion();
            "
          >
            <div
              class="grid p-2 bg-gray-800 rounded-md"
              @click.prevent="openModalDetalles = true"
            >
              <img
                :src="
                  'http://127.0.0.1:8000/storage/attachment/' +
                  publi.path_adjunto
                "
                class="rounded-md aspect-square transition-all w-full object-cover"
                alt=""
              />
              <div
                class="text-left my-2 text-white font-bold overflow-ellipsis overflow-hidden whitespace-nowrap"
              >
                <div class="">
                  <p class="">{{ publi.titulo }}</p>
                </div>
                <div>
                  <p class="">{{ publi.precio }}</p>
                </div>
                <div>
                  <p class="font-thin text-sm my-2">Villarrica - Paraguay</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="w-1/2 p-1/2 bg-purple-300">1</div> -->
      </div>
    </div>

    <ModalPublicacion v-show="openModal" @close-modal="openModal = false">
    </ModalPublicacion>

    <ModalDetallePublicacion
      @close-modal="openModalDetalles = false"
      v-show="openModalDetalles"
      :publicacion="publicacion"
    ></ModalDetallePublicacion>
  </div>
</template>
