<template>
  <div class="mx-auto">
    <div class="bg-gray-900 p-2 grid grid-cols-6 gap-8">
      <div class="ml-5 col-span-1 h-10 content-center grid text-center">
        <div class="flex w-full h-full justify-center text-center items-end">
          <svg
            width="10mm"
            height="10mm"
            viewBox="0 0 109.48601 84.608772"
            version="1.1"
            id="svg5"
            inkscape:export-filename="logo.svg"
            inkscape:export-xdpi="96"
            inkscape:export-ydpi="96"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
          >
            <sodipodi:namedview
              id="namedview7"
              pagecolor="#ffffff"
              bordercolor="#000000"
              borderopacity="0.25"
              inkscape:showpageshadow="2"
              inkscape:pageopacity="0.0"
              inkscape:pagecheckerboard="0"
              inkscape:deskcolor="#d1d1d1"
              inkscape:document-units="mm"
              showgrid="false"
            />
            <defs id="defs2" />
            <g
              inkscape:label="Capa 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-44.332784,-44.589617)"
            >
              <g
                aria-label="A"
                transform="scale(1.2059265,0.82923793)"
                id="text113"
                style="
                  font-size: 142.304px;
                  fill: #4693c9;
                  fill-opacity: 1;
                  stroke-width: 11.8586;
                "
              >
                <path
                  d="M 114.3181,155.80377 102.07996,124.35459 H 61.807929 l -12.09584,31.44918 H 36.762424 L 76.465241,53.771803 H 87.991865 L 127.55238,155.80377 Z M 98.237753,112.97027 86.853433,82.232604 q -0.426912,-1.138432 -1.42304,-4.126816 -0.996128,-2.988385 -1.992256,-6.119073 -0.853824,-3.272992 -1.42304,-4.98064 -1.138432,4.411424 -2.419168,8.680544 -1.138432,4.126817 -1.992256,6.545985 L 66.077049,112.97027 Z"
                  id="path219"
                  style="fill: #4693c9; fill-opacity: 1"
                />
              </g>
              <path
                id="rect6400"
                style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
                d="m 82.913164,87.853105 32.501776,-0.02569 9.49398,18.109385 -51.1431,-1.47784 z"
                sodipodi:nodetypes="ccccc"
              />
              <rect
                style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
                id="rect7331"
                width="15.584439"
                height="28.123642"
                x="143.83496"
                y="-18.271332"
                transform="rotate(37.654932)"
              />
            </g>
          </svg>
          <div class="text-white ml-1">
            <p class="font-bold text-lg">bbe</p>
          </div>
        </div>
      </div>
      <div
        class="bg-white rounded-lg p-2 col-span-2 col-start-3 h-10 grid content-center text-center"
      >
        <div class="flex">
          <input
            id="crud-form-3"
            v-model="search_producto"
            type="text"
            class="form-control outline-none w-full"
            placeholder="Busqueda"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 50 50"
            width="25px"
            height="25px"
          >
            <path
              d="M 21 3 C 11.621094 3 4 10.621094 4 20 C 4 29.378906 11.621094 37 21 37 C 24.710938 37 28.140625 35.804688 30.9375 33.78125 L 44.09375 46.90625 L 46.90625 44.09375 L 33.90625 31.0625 C 36.460938 28.085938 38 24.222656 38 20 C 38 10.621094 30.378906 3 21 3 Z M 21 5 C 29.296875 5 36 11.703125 36 20 C 36 28.296875 29.296875 35 21 35 C 12.703125 35 6 28.296875 6 20 C 6 11.703125 12.703125 5 21 5 Z"
            />
          </svg>
        </div>
      </div>
      <div class="col-span-2 grid content-center">
        <div class="col-start-5 grid grid-cols-3 gap-3 px-2">
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'mispedidos',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  fill="#0099ff"
                  width="30px"
                  height="30px"
                  viewBox="0 0 32 32"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M2.005 22.825l13.039 6.169v-13.8l-13.039-5.52v13.151zM6.006 14.791l5.026 2.337-0.029 1.842-5.025-2.336 0.028-1.843zM16 15.194v13.8l12.994-6.169v-13.151l-12.994 5.52zM15.453 3.006l-13.363 5.757 13.375 5.712 13.514-5.725-13.526-5.744z"
                  ></path>
                </svg>
              </div>
            </router-link>
          </div>
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'chats',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  width="25px"
                  height="25px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M4 1C2.34315 1 1 2.34315 1 4V15C1 16.6569 2.34315 18 4 18H6V22C6 22.388 6.22446 22.741 6.57584 22.9056C6.92723 23.0702 7.3421 23.0166 7.64018 22.7682L13.362 18H20C21.6569 18 23 16.6569 23 15V4C23 2.34315 21.6569 1 20 1H4Z"
                    fill="#0099ff"
                  />
                </svg>
              </div>
            </router-link>
          </div>
          <div class="col-span-1">
            <router-link
              :to="{
                name: 'miperfil',
                params: {},
              }"
            >
              <div class="flex justify-center">
                <svg
                  width="25px"
                  height="25px"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M12 1C8.96243 1 6.5 3.46243 6.5 6.5C6.5 9.53757 8.96243 12 12 12C15.0376 12 17.5 9.53757 17.5 6.5C17.5 3.46243 15.0376 1 12 1Z"
                    fill="#0099ff"
                  />
                  <path
                    d="M7 14C4.23858 14 2 16.2386 2 19V22C2 22.5523 2.44772 23 3 23H21C21.5523 23 22 22.5523 22 22V19C22 16.2386 19.7614 14 17 14H7Z"
                    fill="#0099ff"
                  />
                </svg>
              </div>
            </router-link>
          </div>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-6 h-screen">
      <div
        class="bg-gray-900 border-x-0 border-gray-500 border-2 w-0 sm:w-full flex flex-col"
      >
        <div class="mt-5 p-2">
          <button
            class="bg-[#4693C9] p-2 w-0 sm:w-full rounded-lg"
            @click.prevent="openModal = true"
          >
            <div class="flex text-gray-200">
              <p class="w-full font-bold">Realizar Publicacion</p>
              <svg
                width="25px"
                height="25px"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M17.0671 2.27157C17.5 2.09228 17.9639 2 18.4324 2C18.9009 2 19.3648 2.09228 19.7977 2.27157C20.2305 2.45086 20.6238 2.71365 20.9551 3.04493C21.2864 3.37621 21.5492 3.7695 21.7285 4.20235C21.9077 4.63519 22 5.09911 22 5.56761C22 6.03611 21.9077 6.50003 21.7285 6.93288C21.5492 7.36572 21.2864 7.75901 20.9551 8.09029L20.4369 8.60845L15.3916 3.56308L15.9097 3.04493C16.241 2.71365 16.6343 2.45086 17.0671 2.27157Z"
                  fill="#ffffff"
                />
                <path
                  d="M13.9774 4.9773L3.6546 15.3001C3.53154 15.4231 3.44273 15.5762 3.39694 15.7441L2.03526 20.7369C1.94084 21.0831 2.03917 21.4534 2.29292 21.7071C2.54667 21.9609 2.91693 22.0592 3.26314 21.9648L8.25597 20.6031C8.42387 20.5573 8.57691 20.4685 8.69996 20.3454L19.0227 10.0227L13.9774 4.9773Z"
                  fill="#ffffff"
                />
              </svg>
            </div>
          </button>
        </div>

        <div class="mt-1 p-2">
          <router-link
            @click.prevent=""
            :to="{
              name: 'home',
            }"
          >
            <div
              class="flex text-gray-200 p-2 bg-[#638196] w-0 sm:w-full rounded-lg"
            >
              <p class="w-full font-bold">Pagina Principal</p>
              <svg
                viewBox="0 0 600 600"
                version="1.1"
                id="svg9724"
                sodipodi:docname="home.svg"
                inkscape:version="1.2.2 (1:1.2.2+202212051550+b0a8486541)"
                width="25"
                height="25"
                xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"
              >
                <defs id="defs9728" />
                <sodipodi:namedview
                  id="namedview9726"
                  pagecolor="#ffffff"
                  bordercolor="#666666"
                  borderopacity="1.0"
                  inkscape:showpageshadow="2"
                  inkscape:pageopacity="0.0"
                  inkscape:pagecheckerboard="0"
                  inkscape:deskcolor="#d1d1d1"
                  showgrid="true"
                  inkscape:zoom="0.84179692"
                  inkscape:cx="153.83758"
                  inkscape:cy="310.64499"
                  inkscape:window-width="1920"
                  inkscape:window-height="1009"
                  inkscape:window-x="0"
                  inkscape:window-y="1080"
                  inkscape:window-maximized="1"
                  inkscape:current-layer="svg9724"
                  showguides="true"
                >
                  <inkscape:grid
                    type="xygrid"
                    id="grid9972"
                    originx="0"
                    originy="0"
                  />
                  <sodipodi:guide
                    position="300,720"
                    orientation="1,0"
                    id="guide1112"
                    inkscape:locked="false"
                  />
                  <sodipodi:guide
                    position="-540,300"
                    orientation="0,-1"
                    id="guide399"
                    inkscape:locked="false"
                  />
                  <sodipodi:guide
                    position="110,200"
                    orientation="0,-1"
                    id="guide401"
                    inkscape:locked="false"
                  />
                </sodipodi:namedview>

                <path
                  style="
                    color: #ffffff;
                    fill: #ffffff;
                    stroke-linecap: round;
                    stroke-linejoin: round;
                    -inkscape-stroke: none;
                  "
                  d="M 300,0 A 40.004,40.004 0 0 0 271.71484,11.714844 L 11.714844,271.71484 A 40.004,40.004 0 0 0 0,300 v 260 a 40.004,40.004 0 0 0 40,40 h 164.66602 a 40.004,40.004 0 0 0 40,-40 V 426.66602 H 355.33398 V 560 a 40.004,40.004 0 0 0 40,40 H 560 a 40.004,40.004 0 0 0 40,-40 V 300 a 40.004,40.004 0 0 0 -11.71484,-28.28516 l -260,-259.999996 A 40.004,40.004 0 0 0 300,0 Z m 0,96.568359 220,220.000001 V 520 H 435.33398 V 386.66602 a 40.004,40.004 0 0 0 -40,-40 H 204.66602 a 40.004,40.004 0 0 0 -40,40 V 520 H 80 V 316.56836 Z"
                  id="path1011"
                />
              </svg>
            </div>
          </router-link>
        </div>
      </div>
      <div
        v-if="publicacion_pedido.length > 0"
        class="bg-gray-700 grid col-span-5 content-start text-center"
      >
        <div
          class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-5 gap-2 p-2 h-full w-full"
        >
          <div
            v-for="(publi, index) in publicacion_pedido"
            :key="index"
            @click.prevent="id = publi.id"
          >
            <div
              class="grid p-2 bg-gray-800 rounded-md"
              @click.prevent="openModalDetalles = true"
            >
              <img
                :src="
                  'http://127.0.0.1:8000/storage/attachment/' +
                  publi.publicacion.path_adjunto
                "
                class="rounded-md aspect-square transition-all w-full object-cover"
                alt=""
              />
              <div
                class="text-left my-2 text-white font-bold overflow-ellipsis overflow-hidden whitespace-nowrap"
              >
                <div class="">
                  <p class="">{{ publi.publicacion.titulo }}</p>
                </div>
                <div>
                  <p class="">{{ publi.publicacion.precio }}</p>
                </div>
                <div>
                  <p class="font-thin text-sm my-2">Villarrica - Paraguay</p>
                </div>
              </div>
              <div class="flex justify-end gap-4" v-if="publi.estado != 'Pagado'">
                <div
                  class="flex"
                  @click.prevent="
                    form.id = publi.id; form.estado = 'Aceptado';
                    openModalAceptar = true;
                  "
                >
                  <svg
                    fill="#22C55E"
                    width="24px"
                    height="24px"
                    viewBox="0 0 1920 1920"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1743.858 267.012 710.747 1300.124 176.005 765.382 0 941.387l710.747 710.871 1209.24-1209.116z"
                      fill-rule="evenodd"
                    />
                  </svg>
                </div>
                <div
                  class="flex"
                  @click.prevent="
                    idPedidoEliminar = publi.id;
                    openModalEliminar = true;
                  "
                >
                  <svg
                    fill="#ff0000"
                    width="24px"
                    height="24px"
                    viewBox="0 0 1920 1920"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1694.063 564.684v1185.813c0 93.396-76.005 169.401-169.402 169.401H395.316c-93.397 0-169.402-76.005-169.402-169.401V564.684h1468.15ZM1217.095 0l123.438 338.804H1920V451.85H0V338.804h571.223L694.66 0h522.435ZM677.652 1581.095h112.935V903.488H677.652v677.607Zm451.739 0h112.934V903.488h-112.934v677.607Z"
                      fill-rule="evenodd"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="fixed top-0 bottom-0 left-0 right-0 flex"
    v-if="openModalEliminar"
    :show="openModalEliminar"
    @hidden="openModalEliminar = false"
  >
    <div class="grid grid-cols-12 w-full">
      <div class="col-span-12 w-full h-full">
        <div class="flex justify-center w-full h-full items-center text-center">
          <div
            class="w-80 h-40 bg-slate-100 rounded-md flex justify-center text-center flex-col"
          >
            <p class="font-bold">¿Desea Eliminar este pedido?</p>
            <div class="flex justify-center">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="#ffffff"
                  d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm23.744 191.488c-52.096 0-92.928 14.784-123.2 44.352-30.976 29.568-45.76 70.4-45.76 122.496h80.256c0-29.568 5.632-52.8 17.6-68.992 13.376-19.712 35.2-28.864 66.176-28.864 23.936 0 42.944 6.336 56.32 19.712 12.672 13.376 19.712 31.68 19.712 54.912 0 17.6-6.336 34.496-19.008 49.984l-8.448 9.856c-45.76 40.832-73.216 70.4-82.368 89.408-9.856 19.008-14.08 42.24-14.08 68.992v9.856h80.96v-9.856c0-16.896 3.52-31.68 10.56-45.76 6.336-12.672 15.488-24.64 28.16-35.2 33.792-29.568 54.208-48.576 60.544-55.616 16.896-22.528 26.048-51.392 26.048-86.592 0-42.944-14.08-76.736-42.24-101.376-28.16-25.344-65.472-37.312-111.232-37.312zm-12.672 406.208a54.272 54.272 0 0 0-38.72 14.784 49.408 49.408 0 0 0-15.488 38.016c0 15.488 4.928 28.16 15.488 38.016A54.848 54.848 0 0 0 523.072 768c15.488 0 28.16-4.928 38.72-14.784a51.52 51.52 0 0 0 16.192-38.72 51.968 51.968 0 0 0-15.488-38.016 55.936 55.936 0 0 0-39.424-14.784z"
                />
              </svg>
            </div>

            <div class="flex justify-center mt-3 gap-6">
              <button
                class="py-2 px-10 bg-red-500 rounded-lg"
                @click.prevent="eliminarPedido(idPedidoEliminar)"
              >
                Si
              </button>
              <button
                class="py-2 px-9 bg-green-500 rounded-lg"
                @click.prevent="openModalEliminar = false"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    class="fixed top-0 bottom-0 left-0 right-0 flex"
    v-if="openModalAceptar"
    :show="openModalAceptar"
    @hidden="openModalAceptar = false"
  >
    <div class="grid grid-cols-12 w-full">
      <div class="col-span-12 w-full h-full">
        <div class="flex justify-center w-full h-full items-center text-center">
          <div
            class="w-80 h-40 bg-slate-100 rounded-md flex justify-center text-center flex-col"
          >
            <p class="font-bold">¿Quiere aceptar este pedido?</p>
            <div class="flex justify-center">
              <svg
                width="24px"
                height="24px"
                viewBox="0 0 1024 1024"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill="#ffffff"
                  d="M512 64a448 448 0 1 1 0 896 448 448 0 0 1 0-896zm23.744 191.488c-52.096 0-92.928 14.784-123.2 44.352-30.976 29.568-45.76 70.4-45.76 122.496h80.256c0-29.568 5.632-52.8 17.6-68.992 13.376-19.712 35.2-28.864 66.176-28.864 23.936 0 42.944 6.336 56.32 19.712 12.672 13.376 19.712 31.68 19.712 54.912 0 17.6-6.336 34.496-19.008 49.984l-8.448 9.856c-45.76 40.832-73.216 70.4-82.368 89.408-9.856 19.008-14.08 42.24-14.08 68.992v9.856h80.96v-9.856c0-16.896 3.52-31.68 10.56-45.76 6.336-12.672 15.488-24.64 28.16-35.2 33.792-29.568 54.208-48.576 60.544-55.616 16.896-22.528 26.048-51.392 26.048-86.592 0-42.944-14.08-76.736-42.24-101.376-28.16-25.344-65.472-37.312-111.232-37.312zm-12.672 406.208a54.272 54.272 0 0 0-38.72 14.784 49.408 49.408 0 0 0-15.488 38.016c0 15.488 4.928 28.16 15.488 38.016A54.848 54.848 0 0 0 523.072 768c15.488 0 28.16-4.928 38.72-14.784a51.52 51.52 0 0 0 16.192-38.72 51.968 51.968 0 0 0-15.488-38.016 55.936 55.936 0 0 0-39.424-14.784z"
                />
              </svg>
            </div>

            <div class="flex justify-center mt-3 gap-6">
              <button
                class="py-2 px-10 bg-red-500 rounded-lg"
                @click.prevent="aceptarPedido(form.id)"
              >
                Si
              </button>
              <button
                class="py-2 px-9 bg-green-500 rounded-lg"
                @click.prevent="openModalAceptar = false"
              >
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { onMounted, watch, ref, reactive } from "vue";

export default {
  setup() {
    const publicacion_pedido = ref([]);

    const idPedidoEliminar = ref("");

    const idPedidoAceptar = ref("");

    const openModalEliminar = ref(false);

    const openModalAceptar = ref(false);

    const form = reactive({
      id: '',
      estado: '',
    })

    const traerPedidos = async () => {
      try {
        let response = await axios.get(
          `http://127.0.0.1:8000/api/mispedidos/`,
          {
            params: {
              direccion: "asc",
              campo: "user_publicacion",
              user_publicacion: localStorage.getItem("user_id"),
            },
          }
        );
        /* publicacion_pedido_id.value = response.data;
        console.log(publicacion_pedido_id.value); */
        console.log(response);
        publicacion_pedido.value = response.data.data;
        console.log(publicacion_pedido.value);
      } catch (error) {}
    };

    const eliminarPedido = async (id) => {
      await axios.delete(`http://127.0.0.1:8000/api/mispedidos/${id}`);
      await traerPedidos();
    };

    const aceptarPedido = async (id) => {
        let response = await axios.put(`http://127.0.0.1:8000/api/mispedidos/${id}`, {...form});
        console.log(response);
        await traerPedidos();
        openModalAceptar.value = false;
    };

    /* const traerPublicacion =  () => {
        publicacion_pedido_id.value.map(async (value) => {
            value.map((val) => {
                console.log(val);
            })
            try {
                let response = await axios.get(`http://127.0.0.1:8000/api/user/publicacion/${publicacion_id}`);
                console.log(response);
            } catch (error) {

            }
        });
    } */

    onMounted(() => {
      traerPedidos();
    });

    /* watch(() => {
    }); */

    /* watch(publicacion_pedido_id.value, () => {
        traerPublicacion();
    }) */
    return {
      form,
      aceptarPedido,
      eliminarPedido,
      idPedidoEliminar,
      idPedidoAceptar,
      openModalAceptar,
      openModalEliminar,
      publicacion_pedido,
    };
  },
};
</script>
