<template>
  <div
    class="fixed top-0 bottom-0 left-0 right-0 flex bg-gray-700 bg-opacity-90"
    v-if="mostrar > 0"
  >
    <div class="grid grid-cols-12 w-full">
      <div class="col-span-8 w-full h-full">
        <div
          class="flex justify-center w-full h-full items-center text-center bg-gray-800 bg-opacity-75"
        >
          <img
            :src="
              'http://127.0.0.1:8000/storage/attachment/' +
              publicacion.path_adjunto
            "
            class="rounded-md aspect-square transition-all object-cover backdrop-blur-lg"
            alt=""
          />
        </div>
      </div>
      <div
        class="col-span-4 flex justify-start text-left flex-col bg-gray-900 bg-opacity-75"
      >
        <div
          class="absolute top-10 right-10"
          @click.prevent="$emit('close-modal')"
        >
          <svg
            width="60px"
            height="60px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 10.8181 3.23279 9.64778 3.68508 8.55585C4.13738 7.46392 4.80031 6.47177 5.63604 5.63604C6.47177 4.80031 7.46392 4.13738 8.55585 3.68508C9.64778 3.23279 10.8181 3 12 3C13.1819 3 14.3522 3.23279 15.4442 3.68508C16.5361 4.13738 17.5282 4.80031 18.364 5.63604C19.1997 6.47177 19.8626 7.46392 20.3149 8.55585C20.7672 9.64778 21 10.8181 21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4441 20.3149C14.3522 20.7672 13.1819 21 12 21L12 21Z"
              stroke="#111827"
              stroke-width="2"
              stroke-linecap="round"
            />
            <path
              d="M9 9L15 15"
              stroke="#111827"
              stroke-width="2"
              stroke-linecap="round"
            />
            <path
              d="M15 9L9 15"
              stroke="#111827"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </div>
        <div class="text-white">
          <p class="text-4xl font-bold ml-5 mt-5">
            {{ publicacion.titulo }}
          </p>
        </div>
        <div class="text-white">
          <p class="text-3xl font-bold ml-5">
            {{ publicacion.precio }}
            <span class="font-bold text-2xl">Gs.</span>
          </p>
        </div>
        <hr class="ml-2 mr-2 mt-3" />

        <div class="mt-5 flex gap-2">
          <router-link
            class="bg-green-500 px-5 py-2 ml-5 rounded-lg text-white flex w-48"
            @click.prevent="hola"
            :to="{
              name: 'chat',
              props: ['user_id', publicacion],
            }"
          >
            <p>Enviar Mensaje</p>
            <svg
              class="flex ml-2"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8.5 19H8C4 19 2 18 2 13V8C2 4 4 2 8 2H16C20 2 22 4 22 8V13C22 17 20 19 16 19H15.5C15.19 19 14.89 19.15 14.7 19.4L13.2 21.4C12.54 22.28 11.46 22.28 10.8 21.4L9.3 19.4C9.14 19.18 8.77 19 8.5 19Z"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7 8H17"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M7 13H13"
                stroke="#ffffff"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </router-link>

          <button
            class="bg-gray-700 px-5 py-2 ml-5 rounded-lg text-white flex w-48"
            @click.prevent="mostrarModal(), RealizarPedido()"
          >
            <p>Realizar Pedido</p>
            <svg
              class="ml-2"
              fill="#ffffff"
              width="25px"
              height="25px"
              viewBox="0 0 16 16"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.12 4 8.62.85a1.28 1.28 0 0 0-1.24 0L1.88 4a1.25 1.25 0 0 0-.63 1.09V11a1.25 1.25 0 0 0 .63 1l5.5 3.11a1.28 1.28 0 0 0 1.24 0l5.5-3.11a1.25 1.25 0 0 0 .63-1V5.05A1.25 1.25 0 0 0 14.12 4zm-6.74 9.71-2.13-1.2v-5.3l2.13 1.16zM8 7.29 5.92 6.15l4.81-2.67 2.09 1.18zm0-5.35 1.46.82-4.84 2.69-1.44-.79zM2.5 5.71l1.5.82v5.27L2.5 11zm6.12 8V8.37l4.88-2.66V11z"
              />
            </svg>
          </button>
        </div>

        <div class="text-white mt-5">
          <p class="ml-5 text-xl font-bold">Detalles</p>
        </div>

        <div class="text-white mt-5">
          <p class="ml-5 text-lg font-thin">{{ publicacion.descripcion }}</p>
        </div>

        <!-- <div class="text-white mt-5">
          <p class="ml-5 text-lg font-thin">{{ publicacion.nombre_ubicacion }}</p>
        </div> -->

        <!-- <div id="ubicacion_socio" class="mt-5">
          <div class="flex flex-col sm:flex-row items-center">
            <h2 class="font-medium text-base mr-auto">Ubicación del socio</h2>
          </div>
          <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6">
              <label class="form-label">Buscar en el mapa</label>
              <input
                id="google_maps_place"
                type="text"
                class="form-control w-full uppercase"
                placeholder="Buscar ciudad o calle"
              />
            </div>

            <div class="col-span-3">
              <label class="form-label">Latitud</label>
              <input
                id="lat"
                v-model="publicacion.lat"
                type="text"
                class="form-control w-full uppercase"
                placeholder="Latitud"
                :readonly="true"
              />
            </div>

            <div class="col-span-3">
              <label class="form-label">Longitud</label>
              <input
                id="lng"
                type="text"
                v-model="publicacion.long"
                class="form-control w-full uppercase"
                placeholder="Longitud"
                :readonly="true"
              />
            </div>

            <div class="col-span-3">
              <div
                id="map_canvas"
                class="h-[400px] w-full m-0 pt-0 borig"
              ></div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <ModalPedidoRealizado
      @close-modalpedido="openModalPedido = false"
      v-show="openModalPedido"
    >
    </ModalPedidoRealizado>
  </div>
</template>

<script>
import axios from "axios";
import { watch, ref } from "vue";
import ModalPedidoRealizado from "./components/ModalPedidoRealizado.vue";
import { loadScript } from "vue-plugin-load-script";

export default {
  components: {
    ModalPedidoRealizado,
  },
  props: { publicacion: "" },
  setup(props) {
    const mostrar = ref("");

    watch(props, () => {
      mostrar.value = 1;
    });

    const openModalPedido = ref(false);

    const mostrarModal = () => {
      openModalPedido.value = true;
    };

    const hola = () => {
      localStorage.setItem("id_send", props.publicacion[0].user_id);
      localStorage.setItem("user_recive", props.publicacion[0].user_id);
    };

    /* console.log(props.publicacion); */

    console.log(localStorage);

    const RealizarPedido = async () => {
      let form = new FormData();
      console.log(props.publicacion.user_id);
      form.append("user_id", localStorage.getItem("user_id"));
      form.append("user_publicacion", props.publicacion.user_id);
      form.append("publicacion_id", props.publicacion.id);
      form.append("estado", "Pendiente");
      await axios.post("http://127.0.0.1:8000/api/pedido/", form);
    };

    console.log(props.publicacion);

    const lat = parseFloat(props.publicacion.lat);
    const long = parseFloat(props.publicacion.long);

    loadScript('https://maps.google.com/maps/api/js?v=3.50&libraries=places&language=es&key=AIzaSyAbIMW_G2yClEjETN1NIWcommw8AUtci2Q')
      .then(() => {
        // para editar
        /* var latitude = lat;
        var longitude = long;

        var latlng = new google.maps.LatLng(latitude, longitude);
        var mapOptions = {
            center: new google.maps.LatLng(latitude, longitude),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            panControl: true,
            panControlOptions: {
              position: google.maps.ControlPosition.TOP_RIGHT,
            },
            zoomControl: true,
            zoomControlOptions: {
              style: google.maps.ZoomControlStyle.LARGE,
              position: google.maps.ControlPosition.TOP_left,
            },
            scrollwheel: false,
          },
          map = new google.maps.Map(
            document.getElementById("map_canvas"),
            mapOptions
          ),
          marker = new google.maps.Marker({
            position: latlng,
            map: map,
            draggable: true,
          });
        google.maps.event.addListener(marker, "drag", function (event) {
          lat = event.latLng.lat();
          long = event.latLng.lng();
        }); */

        // funcionamiento normal
        var address = document.getElementById("google_maps_place");
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.addListener("place_changed", function () {
          var place = autocomplete.getPlace();
          latitude = place.geometry.location.lat();
          longitude = place.geometry.location.lng();

          lat= latitude;
          long= longitude;

          var latlng = new google.maps.LatLng(latitude, longitude);
          var mapOptions = {
              center: new google.maps.LatLng(latitude, longitude),
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              panControl: true,
              panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT,
              },
              zoomControl: true,
              zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,
                position: google.maps.ControlPosition.TOP_left,
              },
              scrollwheel: false,
            },
            map = new google.maps.Map(
              document.getElementById("map_canvas"),
              mapOptions
            ),
            marker = new google.maps.Marker({
              position: latlng,
              map: map,
              draggable: true,
            });

          google.maps.event.addListener(marker, "drag", function (event) {
            lat = event.latLng.lat();
            long = event.latLng.lng();
          });
        });
      })
      .catch(() => {
        //console.log("Failed to fetch script!");
      });

    return {
      lat,
      long,
      mostrarModal,
      openModalPedido,
      RealizarPedido,
      hola,
      mostrar,
    };
  },
};
</script>
