<template>
  <div
    class="fixed top-0 bottom-0 left-0 right-0 flex justify-center bg-slate-400 bg-opacity-40"
  >
    <div class="absolute top-10 right-10" @click.prevent="$emit('close-modal')">
      <svg
        width="60px"
        height="60px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M12 21C10.8181 21 9.64778 20.7672 8.55585 20.3149C7.46392 19.8626 6.47177 19.1997 5.63604 18.364C4.80031 17.5282 4.13738 16.5361 3.68508 15.4442C3.23279 14.3522 3 13.1819 3 12C3 10.8181 3.23279 9.64778 3.68508 8.55585C4.13738 7.46392 4.80031 6.47177 5.63604 5.63604C6.47177 4.80031 7.46392 4.13738 8.55585 3.68508C9.64778 3.23279 10.8181 3 12 3C13.1819 3 14.3522 3.23279 15.4442 3.68508C16.5361 4.13738 17.5282 4.80031 18.364 5.63604C19.1997 6.47177 19.8626 7.46392 20.3149 8.55585C20.7672 9.64778 21 10.8181 21 12C21 13.1819 20.7672 14.3522 20.3149 15.4442C19.8626 16.5361 19.1997 17.5282 18.364 18.364C17.5282 19.1997 16.5361 19.8626 15.4441 20.3149C14.3522 20.7672 13.1819 21 12 21L12 21Z"
          stroke="#111827"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M9 9L15 15"
          stroke="#111827"
          stroke-width="2"
          stroke-linecap="round"
        />
        <path
          d="M15 9L9 15"
          stroke="#111827"
          stroke-width="2"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div
      class="text-center flex flex-col bg-gray-900 w-10/12 h-3/4 m-auto p-10 rounded-xl"
    >
      <div class="grid grid-cols-4 h-full gap-4">
        <div class="col-span-1 bg-gray-800 h-5/6 bg-opacity-20 rounded-lg p-5">
          <div class="flex flex-col gap-4">
            <div class="flex">
              <div class="flex flex-col w-full">
                <label class="form-label ml-0 flex text-xl text-white"
                  >Titulo de la Publicacion</label
                >
                <input
                  v-model="form.titulo"
                  type="text"
                  class="w-full mt-5 rounded-md bg-gray-700 outline-none py-2 px-2 text-white"
                />
              </div>
            </div>
            <div class="row-span-1">
              <div class="flex flex-col">
                <label class="form-label ml-0 flex text-xl text-white"
                  >Descripcion</label
                >
                <textarea
                  v-model="form.descripcion"
                  type="text"
                  class="w-full h-52 mt-5 rounded-md bg-gray-700 outline-none py-2 px-2 text-white"
                >
                </textarea>
              </div>
            </div>
            <div class="row-span-1">
              <div class="flex flex-col">
                <label for="" class="form-label ml-0 flex text-xl text-white"
                  >Precio</label
                >
                <div class="flex items-center text-center">
                  <input
                    type="text"
                    class="w-1/3 mt-5 rounded-md bg-gray-700 outline-none py-2 px-2 text-white"
                    v-model="form.precio"
                  />
                  <p class="text-white mt-8 ml-2 text-lg">Gs.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-span-1 bg-gray-800 h-5/6 bg-opacity-20 rounded-lg p-5">
          <div class="flex flex-col w-full h-full">
            <div
              v-if="imgAdjunto == ''"
              class="bg-green-600 flex justify-center items-center h-full w-full rounded-lg bg-opacity-70"
            >
              <label
                for="imgAdjunto"
                class="w-full h-full p-2 rounded-md text-white cursor-pointer hover:opacity-95 transition flex justify-center items-center flex-col"
              >
                <svg
                  class="w-24 h-24"
                  fill="none"
                  stroke="currentColor"
                  viewBox="0 0 24 24"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                  ></path>
                </svg>
                <span>Seleccionar Archivo</span>
              </label>
              <input
                id="imgAdjunto"
                type="file"
                class="w-full hidden"
                @change="cargarAdjuntoAdjunto"
                accept="image/png,image/jpeg"
                ref="refFotoAdjunto"
              />
            </div>
            <div
              v-if="imgAdjunto !== ''"
              class="flex justify-center items-center h-5/6 w-full rounded-lg flex-col"
            >
              <div class="flex justify-center h-full flex-col">
                <img
                  :src="imgAdjunto"
                  alt=""
                  class="mt-5 aspect-square object-contain w-full h-full"
                />
                <button
                  @click.prevent="eliminarAdjunto"
                  class="flex justify-center mt-2"
                >
                  <svg
                    width="25px"
                    height="25px"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M8 1.5V2.5H3C2.44772 2.5 2 2.94772 2 3.5V4.5C2 5.05228 2.44772 5.5 3 5.5H21C21.5523 5.5 22 5.05228 22 4.5V3.5C22 2.94772 21.5523 2.5 21 2.5H16V1.5C16 0.947715 15.5523 0.5 15 0.5H9C8.44772 0.5 8 0.947715 8 1.5Z"
                      fill="#FF0000"
                    />
                    <path
                      d="M3.9231 7.5H20.0767L19.1344 20.2216C19.0183 21.7882 17.7135 23 16.1426 23H7.85724C6.28636 23 4.98148 21.7882 4.86544 20.2216L3.9231 7.5Z"
                      fill="#FF0000"
                    />
                  </svg>
                  <span class="text-[#FF0000] ml-2 font-bold"
                    >Eliminar Imagen</span
                  >
                </button>
              </div>
            </div>
          </div>
        </div>

        <div id="ubicacion_socio" class="col-span-2">
          <div class="flex flex-col sm:flex-row items-center">
            <h2 class="text-white font-medium text-base mr-auto">
              Datos Georeferenciados
            </h2>
          </div>
          <div class="grid grid-cols-12 gap-2">
            <div class="col-span-6">
              <label for="google_maps_place" class="form-label"
                >Buscar en el mapa</label
              >
              <input
                id="google_maps_place"
                v-model="form.nombre_ubicacion"
                type="text"
                class="form-control w-full uppercase"
                placeholder="Buscar ciudad o calle"
              />
            </div>

            <div class="col-span-3">
              <label class="form-label">Latitud</label>
              <input
                id="lat"
                type="text"
                v-model="form.lat"
                class="form-control w-full uppercase"
                placeholder="Latitud"
                :readonly="true"
              />
            </div>

            <div class="col-span-3">
              <label class="form-label">Longitud</label>
              <input
                id="lng"
                type="text"
                v-model="form.long"
                class="form-control w-full uppercase"
                placeholder="Longitud"
                :readonly="true"
              />
            </div>

            <div class="col-span-12">
              <div
                class="w-full"
                id="map_canvas"
                style="
                  height: 390px;
                  width: 100%;
                  margin-left: 0em;
                  margin-right: 0em;
                  margin-bottom: 0em;
                  margin-top: 0em;
                  padding-top: 0em;
                  border-style: ridge;
                "
              ></div>
            </div>
          </div>
        </div>

        <div class="col-span-1 col-start-4">
          <div class="flex justify-end">
            <button
              @click.prevent="savePublicacion"
              class="bg-green-600 py-2 px-5 rounded-lg"
            >
              Guardar
            </button>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import { reactive, ref, watch } from "vue";
import { useRouter } from "vue-router";
import formatNumber from "./components/FormatoNumero";
import { loadScript } from "vue-plugin-load-script";

export default {
  setup() {
    const router = useRouter();

    console.log(localStorage);

    const form = reactive({
      fileAdjunto: "",
      descripcion: "",
      precio: "",
      titulo: "",
      lat: "",
      long: "",
      nombre_ubicacion: "",
    });
    const fileAdjunto = ref("");

    const imgAdjunto = ref("");

    const cargarAdjuntoAdjunto = (e) => {
      let file = e.target.files[0];
      fileAdjunto.value = file;
      let reader = new FileReader();
      reader.onloadend = () => {
        imgAdjunto.value = reader.result;
      };
      reader.readAsDataURL(file);
    };

    const savePublicacion = async () => {
      let data = new FormData();
      data.append("user_id", localStorage.getItem("user_id"));
      data.append("titulo", form.titulo);
      data.append("descripcion", form.descripcion);
      data.append("precio", form.precio);
      data.append("fileAdjunto", fileAdjunto.value);
      data.append("lat", form.lat);
      data.append("long", form.long);
      data.append("nombre_ubicacion", form.nombre_ubicacion);

      try {
        await axios.post("http://127.0.0.1:8000/api/subiradjunto", data);
        router.go();
      } catch (error) {
        let errors = error.response.data.errors;
        console.log(errors);
      }
    };

    const eliminarAdjunto = () => {
      imgAdjunto.value = "";
    };

    const { formatoNumero } = formatNumber();

    watch(
      () => form.precio,
      (nuevoValor) => {
        form.precio = formatoNumero(nuevoValor);
      }
    );

    loadScript(
      "https://maps.google.com/maps/api/js?v=3.50&libraries=places&language=es&key=AIzaSyAbIMW_G2yClEjETN1NIWcommw8AUtci2Q"
    )
      .then(() => {
        var address = document.getElementById("google_maps_place");
        var autocomplete = new google.maps.places.Autocomplete(address);
        autocomplete.addListener("place_changed", function () {
          var place = autocomplete.getPlace();
          var latitude = place.geometry.location.lat();
          var longitude = place.geometry.location.lng();

          form.lat = latitude;
          form.long = longitude;

          var latlng = new google.maps.LatLng(latitude, longitude);
          var mapOptions = {
              center: new google.maps.LatLng(latitude, longitude),
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP,
              panControl: true,
              panControlOptions: {
                position: google.maps.ControlPosition.TOP_RIGHT,
              },
              zoomControl: true,
              zoomControlOptions: {
                style: google.maps.ZoomControlStyle.LARGE,
                position: google.maps.ControlPosition.TOP_left,
              },
              scrollwheel: false,
            },
            map = new google.maps.Map(
              document.getElementById("map_canvas"),
              mapOptions
            ),
            marker = new google.maps.Marker({
              position: latlng,
              map: map,
              draggable: true,
            });

          google.maps.event.addListener(marker, "drag", function (event) {
            form.lat = event.latLng.lat();
            form.long = event.latLng.lng();
          });
        });
      })
      .catch(() => {
        //console.log("Failed to fetch script!");
      });

    return {
      eliminarAdjunto,
      savePublicacion,
      form,
      imgAdjunto,
      cargarAdjuntoAdjunto,
    };
  },
};
</script>
