<template>
  <div class="scroll-m-0 bg-gray-900 w-screen h-screen grid grid-cols-12">
    <div class="flex w-screen text-center justify-center">
      <svg
        width="50mm"
        height="84.608772mm"
        viewBox="0 0 109.48601 84.608772"
        version="1.1"
        id="svg5"
        inkscape:export-filename="logo.svg"
        inkscape:export-xdpi="96"
        inkscape:export-ydpi="96"
        xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
        xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:svg="http://www.w3.org/2000/svg"
      >
        <sodipodi:namedview
          id="namedview7"
          pagecolor="#ffffff"
          bordercolor="#000000"
          borderopacity="0.25"
          inkscape:showpageshadow="2"
          inkscape:pageopacity="0.0"
          inkscape:pagecheckerboard="0"
          inkscape:deskcolor="#d1d1d1"
          inkscape:document-units="mm"
          showgrid="false"
        />
        <defs id="defs2" />
        <g
          inkscape:label="Capa 1"
          inkscape:groupmode="layer"
          id="layer1"
          transform="translate(-44.332784,-44.589617)"
        >
          <g
            aria-label="A"
            transform="scale(1.2059265,0.82923793)"
            id="text113"
            style="
              font-size: 142.304px;
              fill: #4693c9;
              fill-opacity: 1;
              stroke-width: 11.8586;
            "
          >
            <path
              d="M 114.3181,155.80377 102.07996,124.35459 H 61.807929 l -12.09584,31.44918 H 36.762424 L 76.465241,53.771803 H 87.991865 L 127.55238,155.80377 Z M 98.237753,112.97027 86.853433,82.232604 q -0.426912,-1.138432 -1.42304,-4.126816 -0.996128,-2.988385 -1.992256,-6.119073 -0.853824,-3.272992 -1.42304,-4.98064 -1.138432,4.411424 -2.419168,8.680544 -1.138432,4.126817 -1.992256,6.545985 L 66.077049,112.97027 Z"
              id="path219"
              style="fill: #4693c9; fill-opacity: 1"
            />
          </g>
          <path
            id="rect6400"
            style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
            d="m 82.913164,87.853105 32.501776,-0.02569 9.49398,18.109385 -51.1431,-1.47784 z"
            sodipodi:nodetypes="ccccc"
          />
          <rect
            style="fill: #111827; fill-opacity: 1; stroke-width: 0.264583"
            id="rect7331"
            width="15.584439"
            height="28.123642"
            x="143.83496"
            y="-18.271332"
            transform="rotate(37.654932)"
          />
        </g>
      </svg>
    </div>
    <div class="absolute bottom-0 z-0">
      <svg
        class="w-screen"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 1440 320"
      >
        <path
          fill="#0099ff"
          fill-opacity="1"
          d="M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
        ></path>
      </svg>
    </div>
    <div class="z-10 col-start-5 col-span-4 content-center grid grid-rows-3">
      <div class="row-start-2">
        <div
          class="bg-gray-400 rounded-lg flex items-center justify-center text-center w-full h-full"
        >
          <form>
            <div class="py-2 px-5 flex flex-col w-96">
              <label class="right-0 flex mb-3 text-white text-lg font-bold" for="">Nombre</label>
              <input class="py-2 px-2 outline-none rounded-lg text-xl text-white bg-gray-600" type="text" v-model="form.name" />
            </div>
            <div class="py-2 px-5 flex flex-col w-96">
              <label class="right-0 flex mb-3 text-white text-lg font-bold" for="">Nick Name</label>
              <input class="py-2 px-2 outline-none rounded-lg text-xl text-white bg-gray-600" type="text" v-model="form.apodo" />
            </div>
            <div class="py-2 px-5 flex flex-col w-96">
              <label class="right-0 flex mb-3 text-white text-lg font-bold" for="">Email</label>
              <input class="py-2 px-2 outline-none rounded-lg text-xl text-white bg-gray-600" type="email" v-model="form.email" />
            </div>
            <div class="py-2 px-5 flex flex-col w-96">
              <label class="right-0 flex mb-3 text-white text-lg font-bold" for="">Password</label>
              <input class="py-2 px-2 outline-none rounded-lg text-xl text-white bg-gray-600" type="password" v-model="form.password" />
            </div>

            <div class="flex justify-end mr-5 mt-5">
              <button
                class="bg-gray-200 py-2 px-5 rounded-lg"
                type="button"
                @click.prevent="registrar()"
              >
                Registrarse
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import useTest from "./useTest";
import { onMounted, reactive, ref, watch } from "vue";
import { useRouter } from "vue-router";
export default {
  setup() {
    const form = reactive({
      name: "",
      apodo: '',
      email: "",
      password: "",
    });

    const { register } = useTest();

    const registrar = async () => {
      form.name = form.name;
      form.apodo = form.apodo;
      form.email = form.email;
      form.password = form.password;

      console.log({ ...form });
      await register({ ...form });
    };

    return {
      registrar,
      form,
    };
  },
};
</script>
