<template>
  <div class="container mx-auto mt-8">
    <div class="intro-y flex items-center">
      <h2 class="text-lg font-medium mr-auto">Subir Archivos</h2>
    </div>

    <div class="grid grid-cols-12 gap-6 mt-5">
      <div class="intro-y col-span-12">
        <div class="mt-3">
          <div class="intro-y box drop-shadow-md border border-gray-200">
            <div
              class="flex flex-col sm:flex-row items-center py-3 px-5 border-b border-gray-200"
            >
              <h2 class="font-medium text-base mr-auto">Adjuntos/Imagenes</h2>
              <div class="flex">
                <div class="btn btn-outline-secondary w-24 mr-1-">Volver</div>
              </div>
            </div>

            <div>
              <form class="intro-y box p-5" @submit.prevent="savePublicacion">
                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-6 mt-3">
                    <label class="form-label">Titulo</label>
                    <div class="flex">
                      <input
                        v-model="form.titulo"
                        type="text"
                        class="w-full mt-5 rounded-md border-2 border-gray-200 p-1"
                      />
                    </div>
                  </div>
                  <div class="col-span-12 md:col-span-6 mt-3">
                    <label class="form-label">Imagen</label>
                    <div class="grid grid-cols-12 gap-4 h-80 mt-5">
                      <div class="col-span-4">
                        <label
                          for="imgAdjunto"
                          class="bg-green-600 p-2 rounded-md text-white cursor-pointer hover:opacity-95 transition flex justify-center items-center flex-col"
                        >
                          <svg
                            class="w-6 h-6"
                            fill="none"
                            stroke="currentColor"
                            viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"
                            ></path>
                          </svg>
                          <span>Seleccionar Archivo</span>
                        </label>
                        <input
                          id="imgAdjunto"
                          type="file"
                          class="w-full hidden"
                          accept="image/png,image/jpeg"
                          @change="cargarAdjuntoAdjunto"
                          ref="refFotoAdjunto"
                        />
                      </div>
                      <div
                        class="col-span-8 rounded-md bg-gray-300 relative flex flex-col justify-center items-center"
                      >
                        <img
                          v-if="imgAdjunto !== ''"
                          :src="imgAdjunto"
                          alt=""
                          class="max-w-full p-2 max-h-full overflow-hidden absolute rounded-md"
                        />
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary w-24">
                    Guardar
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { onMounted, reactive, ref } from "vue";
import axios from "axios";
export default {
  props: {},
  setup(props) {
    const form = reactive({
      fileAdjunto: "",
      titulo: "",
    });
    const fileAdjunto = ref("");

    const imgAdjunto = ref("");

    const cargarAdjuntoAdjunto = (e) => {
      let file = e.target.files[0];
      fileAdjunto.value = file;
      let reader = new FileReader();
      reader.onloadend = () => {
        imgAdjunto.value = reader.result;
      };
      reader.readAsDataURL(file);
    };

    const savePublicacion = async () => {
      let data = new FormData();
      data.append("titulo", form.titulo);
      data.append("fileAdjunto", fileAdjunto.value);
      try {
        await axios.post("http://127.0.0.1:8000/api/subiradjunto", data);
      } catch (error) {
        let errors = error.response.data.errors;
        console.log(errors);
      }
    };

    return {
      savePublicacion,
      form,
      imgAdjunto,
      cargarAdjuntoAdjunto,
    };
  },
};
</script>
