<template>
  <form>
    <div>
      <label for="">Nombre</label>
      <input v-model="form.nombre" type="text" />
    </div>
    <div>
      <label for="">Apellido</label>
      <input v-model="form.apellido" type="text" />
    </div>
    <button type="buttom" @click.prevent="guardar()">Agregar</button>
  </form>

  <div>
    <div v-if="test.length > 0" v-for="(tes, index) in test" :key="index">
      <label>{{ tes.nombres }}</label>
      <label>{{ tes.apellidos }}</label>
    </div>
  </div>
</template>

<script>
import useTest from "./useTest";
import { onMounted, reactive, ref, watch } from "vue";
import { useRouter } from "vue-router";
export default {
  name: "test",
  setup() {
    const router = useRouter();

    const form = reactive({
      nombre: "",
      apellido: "",
    });

    const { test, getTest, storeTest } = useTest();

    onMounted(() => {
      getTest();
      console.log("Montando");
    });

    watch(test, () => {
      getTest();
    });

    const guardar = async () => {
      form.nombre = form.nombre;
      form.apellido = form.apellido;
      console.log({ ...form });
      await storeTest({ ...form });
    };

    return {
      test,
      guardar,
      form,
    };
  },
};
</script>
