<template>
  <!-- component -->
  <!-- This is an example component -->
  <div class="w-screen">
    <div
      class="grid grid-cols-3 min-w-full border rounded"
      style="min-height: 80vh"
    >
      <div class="col-span-1 bg-white border-r border-gray-300">
        <div class="my-3 mx-3">
          <div class="relative text-gray-600 focus-within:text-gray-400">
            <span class="absolute inset-y-0 left-0 flex items-center pl-2">
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                class="w-6 h-6 text-gray-500"
              >
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
            </span>
            <input
              v-model="search"
              @keyup.prevent="searchFriends"
              aria-placeholder="Busca tus amigos o contacta nuevos"
              placeholder="Busca tus amigos"
              class="py-2 pl-10 block w-full rounded bg-gray-100 outline-none focus:text-gray-700"
              type="search"
              name="search"
              required
              autocomplete="search"
            />
          </div>
        </div>

        <ul v-if="search != ''" class="overflow-auto" style="height: 500px">
          <h2 class="ml-2 mb-2 text-gray-600 text-lg my-2">Amigos</h2>
          <li
            v-if="userschats.length > 0"
            v-for="(user, index) in userschats"
            :key="index"
          >
            <UserChats :username="user.nick_name" :message="[]"></UserChats>
          </li>
          <div v-else class="ml-2 mb-2 text-gray-600 text-sm my-2">
            No se encontraron amigos
          </div>
        </ul>

        <ul class="overflow-auto" style="height: 500px">
          <h2 class="ml-2 mb-2 text-gray-600 text-lg my-2">Chats</h2>
          <li>
            <UserChats></UserChats>
          </li>
        </ul>
      </div>
      <div class="col-span-2 bg-white">
        <Chat></Chat>
      </div>
    </div>
  </div>
</template>

<script>
import UserChats from "./UserChats.vue";
import Chat from "./Chat.vue";
import { ref } from "vue";
import axios from "axios";
export default {
  props: ['chats'],
  components: {
    UserChats,
    Chat,
  },
  setup() {
    const search = ref("");
    const userschats = ref([]);

    const searchFriends = async () => {
      if (search.value != "") {
        await axios
          .get("http://127.0.0.1:8000/api/user/chat/" + search.value)
          .then((response) => {
            userschats.value = response.data;
          });
      } else {
        userschats.value = [];
      }
    };

    return {
      search,
      userschats,
      searchFriends,
    };
  },
};
</script>
