<template>
  <a
    class="hover:bg-gray-100 border-b border-gray-300 px-3 py-2 cursor-pointer flex items-center text-sm focus:outline-none focus:border-gray-300 transition duration-150 ease-in-out"
  >
    <img
      class="h-10 w-10 rounded-full object-cover"
      src="https://images.pexels.com/photos/837358/pexels-photo-837358.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
      :alt="username"
    />
    <div class="w-full pb-2">
      <div class="flex justify-between">
        <span class="block ml-2 font-semibold text-base text-gray-600">{{
          username
        }}</span>
        <span v-if="message" class="block ml-2 text-sm text-gray-600"></span>
      </div>
      <span
        
        class="block ml-2 text-sm text-gray-600"
        ></span
      >
    </div>
  </a>
</template>

<script>
export default {
  props: {
        username: {
            type: String,
            required: true,
        },
        message: {
            type: Array,
            required: true,
        },
    },
};
</script>
