<template>
  <div class="fixed top-0 bottom-0 left-0 right-0 flex">
    <div class="grid grid-cols-12 w-full">
      <div class="col-span-12 w-full h-full">
        <div class="flex justify-center w-full h-full items-center text-center">
          <div
            class="w-80 h-40 bg-slate-100 rounded-md flex justify-center text-center flex-col"
          >
            <p class="font-bold">¡ Pedido Realizado !</p>
            <div
              class="flex justify-center"
              
            >
              <svg
                fill="#22C55E"
                width="25px"
                height="25px"
                viewBox="-4 0 32 32"
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
              >
                <title>check</title>
                <path
                  d="M19.375 5.063l-9.5 13.625-6.563-4.875-3.313 4.594 11.188 8.531 12.813-18.375z"
                ></path>
              </svg>
            </div>

            <div class="flex justify-center mt-3" @click.prevent="$emit('close-modalpedido')">
                <button class="py-2 px-5 bg-green-500 rounded-lg">Listo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>
